<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://samsung.com/PathfindingJSUsage" version="1.0.0" viewmodes="maximized">
    <tizen:application id="tMfJsfDSck.PathfindingJSUsage" package="tMfJsfDSck" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>PathfindingJSUsage</name>
</widget>
